<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrjTurnstile.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <PrjTurnstile.My.MySettings>
            <setting name="CAM_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="CAM_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAM_User" serializeAs="String">
                <value />
            </setting>
            <setting name="CAM_Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="CAM_ChannelEnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAM_ChannelCap1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAM_ChannelExt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAM_ChannelCap2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEV1_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="DEV1_Com" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DEV2_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="DEV2_Com" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DB_IpAdd" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DB_UID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB_PWD" serializeAs="String">
                <value>pr0j3ctf</value>
            </setting>
            <setting name="DB_DB" serializeAs="String">
                <value>atcdb</value>
            </setting>
            <setting name="DB_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="PSb_Set" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PortAdd" serializeAs="String">
                <value>378</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Extport" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatAdd" serializeAs="String">
                <value>379</value>
            </setting>
            <setting name="LoopCode" serializeAs="String">
                <value />
            </setting>
            <setting name="DEV3_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="DEV4_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="CapImgPath" serializeAs="String">
                <value />
            </setting>
            <setting name="t1InCapID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="t1OutCapID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="t1InOutCapID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="t2InCapID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="t2OutCapID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="t2InOutCapID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SetAutoClear" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetAutoReg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmpImgPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnBuff" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoConnDel" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="LockDelay" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Restart1" serializeAs="String">
                <value>04/02/2016 06:00:00</value>
            </setting>
            <setting name="Restart2" serializeAs="String">
                <value>04/02/2016 11:00:00</value>
            </setting>
            <setting name="Restart3" serializeAs="String">
                <value>04/02/2016 17:00:00</value>
            </setting>
            <setting name="EnableRestart1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableRestart2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableRestart3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBloc_Ip" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DBloc_UID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DBloc_PWD" serializeAs="String">
                <value>pr0j3ctf</value>
            </setting>
            <setting name="DBloc_DB" serializeAs="String">
                <value>atcdb</value>
            </setting>
            <setting name="TriggerDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HexRead" serializeAs="String">
                <value>True</value>
            </setting>
        </PrjTurnstile.My.MySettings>
    </userSettings>
</configuration>
